Gloria/GloriaUtil/src/main/resources/xsd/userroleconfig/GloriaUserRolesMappingToBaldoCategory.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2011 rel. 3 sp1 (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="roleMap">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="baldoCategory" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="gloriaRole">
    <xs:complexType>
      <xs:attribute name="userRole" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="PROCURE" />
            <xs:enumeration value="PROCURE-INTERNAL" />
            <xs:enumeration value="DELIVERY" />
            <xs:enumeration value="WH_DEFAULT" />
            <xs:enumeration value="WH_SETUP" />
            <xs:enumeration value="WH_QI" />
            <xs:enumeration value="GR_ONLY" />
            <xs:enumeration value="REQUESTER_FOR_PULL" />
            <xs:enumeration value="VIEWER" />
            <xs:enumeration value="VIEWER_PRICE" />
            <xs:enumeration value="VIEW_PRICE" />
            <xs:enumeration value="KEY_USER" />
            <xs:enumeration value="IT_SUPPORT" />
            <xs:enumeration value="BORROW" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="baldoCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="gloriaRole" maxOccurs="unbounded" />
      </xs:sequence>
      <xs:attribute name="category" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Material_Controller" />
            <xs:enumeration value="Internal_Procurer" />
            <xs:enumeration value="Delivery_Controller" />
            <xs:enumeration value="Warehouse_personell" />
            <xs:enumeration value="Warehouse_manager" />
            <xs:enumeration value="PSQA" />
            <xs:enumeration value="GR_Only" />
            <xs:enumeration value="Requester_for_Pull" />
            <xs:enumeration value="Viewer" />
            <xs:enumeration value="Viewer_Price" />
            <xs:enumeration value="Key_user" />
            <xs:enumeration value="IT_support" />
            <xs:enumeration value="BORROW" />
            <!--New Roles -->
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
</xs:schema>
