Gloria/GloriaUtil/src/main/resources/xsd/initdata/partAliasMapping/PartAliasMapping.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2011 rel. 3 sp1 (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PartAliasMappings">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="PartAliasMapping" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PartAliasMapping">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="name" use="required" type="xs:string">
          </xs:attribute>        
            <xs:attribute name="kolaDomain" use="optional" type="xs:string">
          </xs:attribute>
            <xs:attribute name="gpsQualifier" use="optional" type="xs:string">
          </xs:attribute>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
</xs:schema>
