Gloria/GloriaUtil/src/main/resources/xsd/initdata/conversionUnit/ConversionUnit.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2011 rel. 3 sp1 (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ConversionUnits">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ConversionUnit" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConversionUnit">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="applFrom" use="required" type="xs:string">
          </xs:attribute>
          <xs:attribute name="codeFrom" use="required" type="xs:string">
          </xs:attribute>
          <xs:attribute name="applTo" use="required" type="xs:string">
          </xs:attribute>
          <xs:attribute name="codeTo" use="required" type="xs:string">
          </xs:attribute>
          <xs:attribute name="dividedBy" use="required" type="xs:long">
          </xs:attribute>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
</xs:schema>