Gloria/GloriaUtil/src/main/resources/xsd/initdata/unitOfMeasure/UnitOfMeasure.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2011 rel. 3 sp1 (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="UnitOfMeasures">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="UnitOfMeasure" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnitOfMeasure">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="name" use="required" type="xs:string">
          </xs:attribute>
          <xs:attribute name="gloriaCode" use="required" type="xs:boolean">
          </xs:attribute>
          <xs:attribute name="displaySeq" use="required" type="xs:int">
          </xs:attribute>
          <xs:attribute name="code" use="required" type="xs:string">
          </xs:attribute>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
</xs:schema>
