Gloria/GloriaUtil/src/main/resources/xsd/initdata/warehouse/Warehouse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2011 rel. 3 sp1 (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Warehouses">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Warehouse" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Warehouse">
		<xs:complexType>
			<xs:sequence minOccurs="0">
				<xs:element ref="StorageRoom" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="siteId" type="xs:string" use="required"/>
			<xs:attribute name="siteCode" type="xs:string" use="required"/>
			<xs:attribute name="siteName" type="xs:string" use="required"/>
			<xs:attribute name="setUp" type="xs:string" use="required"/>
			<xs:attribute name="qiSupported" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="StorageRoom">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Zon" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="description" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="code" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Zon">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="AisleRackRow" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="BinLocation" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="code" type="xs:string" use="required"/>
			<xs:attribute name="description" type="xs:string" use="required"/>
			<xs:attribute name="type" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="AisleRackRow">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="BaySetting" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="setUp" type="xs:string" use="required"/>
			<xs:attribute name="code" type="xs:string" use="required"/>
			<xs:attribute name="baySides" type="xs:string"/>
			<xs:attribute name="numberOfBay" type="xs:long" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="BaySetting">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="BinLocation" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="bayCode" type="xs:string" use="required"/>
			<xs:attribute name="numberOfLevels" type="xs:long" use="required"/>
			<xs:attribute name="numberOfPositions" type="xs:long" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="BinLocation">
		<xs:complexType>			
			<xs:attribute name="bayCode" type="xs:string" use="required"/>
			<xs:attribute name="code" type="xs:string" use="required"/>
			<xs:attribute name="level" type="xs:long" use="required"/>
			<xs:attribute name="position" type="xs:long" use="required"/>
			<xs:attribute name="allocation" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>	
</xs:schema>
