Gloria/GloriaUtil/src/main/resources/xsd/initdata/procure/Procure.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2011 rel. 3 sp1 (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Procure">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ProcureDetail" maxOccurs="1" />
        <xs:element ref="ProcureOrder" maxOccurs="1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcureDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="assignedMaterialController" type="xs:string" />
        <xs:element name="shipToId" type="xs:string" />
        <xs:element name="finalWarehouseId" type="xs:string" />
        <xs:element name="requiredStaDate" type="xs:date" />
        <xs:element name="unitPrice" type="xs:double" />
        <xs:element name="currency" type="xs:string" />        
        <xs:element name="additionalQuantity" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcureOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="supplierId" type="xs:string" />
        <xs:element name="buyerCode" type="xs:string" />
        <xs:element name="maxPrice" type="xs:double" />
        <xs:element name="materialUserCategory" type="xs:string" />
        <xs:element name="materialUserName" type="xs:string" />
        <xs:element name="unitOfMeasure" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>