Gloria/GloriaUtil/src/main/resources/xsd/initdata/deliveryNote/DeliveryNote.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2011 rel. 3 sp1 (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DeliveryNotes">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="DeliveryNote" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeliveryNote">
    <xs:complexType>
      <xs:attribute name="deliveryNoteNo" use="required" type="xs:string"/>
      <xs:attribute name="deliveryNoteDate" use="required" type="xs:date"/>
      <xs:attribute name="supplierId" use="required" type="xs:string"/>
      <xs:attribute name="supplierName" use="required" type="xs:string"/>
      <xs:attribute name="receiveType" use="required" type="xs:string"/>
      <xs:attribute name="transportationNo" use="required" type="xs:string"/>
      <xs:attribute name="carrier" use="required" type="xs:string"/>
      <xs:attribute name="orderNo" use="required" type="xs:string"/>
    </xs:complexType>
  </xs:element>
</xs:schema> 