Gloria/GloriaUtil/src/main/resources/xsd/initdata/site/Site.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Sites">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Site" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="siteId" use="optional" />
                <xs:attribute type="xs:string" name="siteCode" use="optional" />
                <xs:attribute type="xs:string" name="siteName" use="optional" />
                <xs:attribute type="xs:string" name="address" use="optional" />
                <xs:attribute type="xs:string" name="phone" use="optional" />
                <xs:attribute type="xs:string" name="countryCode" use="optional" />
                <xs:attribute type="xs:string" name="companyCode" use="optional" />
                <xs:attribute type="xs:boolean" name="joinVenture" use="optional" />
                <xs:attribute type="xs:boolean" name="shipToSite" use="optional" />
                <xs:attribute type="xs:string" name="shipToType" use="optional" />               
                <xs:attribute type="xs:boolean" name="buildSite" use="optional" />
                <xs:attribute type="xs:string" name="buildSiteType" use="optional" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>