Gloria/GloriaUtil/src/main/resources/xsd/initdata/buildchange/BuildChange.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2011 rel. 3 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="BuildChangeTypePRs">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="BuildChangeTypePR" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="BuildChangeTypePR">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="BuildChangePRImpl" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="validTo" type="xs:date" use="required"/>				
			<xs:attribute name="validFrom" type="xs:date" use="required"/>		
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="lastModifiedUser" type="xs:string" use="required"/>
			<xs:attribute name="description" type="xs:string" use="required"/>			
			<xs:attribute name="code" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="BuildChangePRImpl">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="BuildChangeDateTimePRImpl" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="validTo" type="xs:date" use="required"/>
			<xs:attribute name="validFrom" type="xs:date" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="lastModifiedUser" type="xs:string" use="required"/>
			<xs:attribute name="lastModified" type="xs:date" use="required"/>
			<xs:attribute name="description" type="xs:string" use="required"/>
			<xs:attribute name="code" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="BuildChangeDateTimePRImpl">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="validTo" type="xs:date" use="required"/>
					<xs:attribute name="validFrom" type="xs:date" use="required"/>
					<xs:attribute name="lastModifiedUser" type="xs:string" use="required"/>
					<xs:attribute name="lastModified" type="xs:date" use="required"/>
					<xs:attribute name="eventType" type="xs:string" use="required"/>
					<xs:attribute name="eventDateTime" type="xs:date" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
</xs:schema>
